body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* MAIN PAGE */

.searchbox{
  display: flex;
  justify-content: center;
  width: 100%;
}

.title{
  font-family: 'Satisfy', cursive;
}

/* NOTESSTICK PAGE */

.notesStick{
  display: flex;
  justify-content: center;
}

.notesStick-note{
  width: 80vw;
  padding: 10px 0;
}